.contactSection {
  padding: 2rem;
  display: flex;
  justify-content: center; /* horizontally center the form */
}

.contactForm {
  background-color: rgb(241, 235, 195);
  padding: 3rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px; /* control width */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.contactForm label {
  font-weight: bold;
  color: #333;
}

.contactForm input,
.contactForm textarea {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  font-family: inherit;
}

.contactForm input:focus,
.contactForm textarea:focus {
  outline: none;
  border-color: goldenrod;
  box-shadow: 0 0 5px goldenrod;
}

.charCounter {
  font-size: 1rem;
  color: goldenrod;
  text-align: right;
  margin-bottom: 1rem;
  font-style: italic;
}

.submitBtn {
  background-color: goldenrod;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.submitBtn:hover {
  background-color: black;
  color: goldenrod;
}
