.footer-container {
    background-color: black;
    color: goldenrod;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.footer-years {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.footer-socials {
  margin-top: 1rem;
}

.socials-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.social-icons a {
  color: goldenrod;
  font-size: 2rem;
  margin: 0 1rem;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: yellow;
}
